*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-weight: 300;
}

body{
   background: url('./images/menuback.gif');
   background-size: cover;
   height:100vh;
   font-family: 'Yellowtail', cursive;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
}

h1{
   text-align: center;
   padding:.5em 0;
   font-size: 5rem;
}

button.menuBtn,
.play{
   display: block;
   padding:.7em 0;
   margin:.5em 0;
   border-radius: .3em;
   background: #202020;
   outline: 0;
   border:2px solid blue;
   color:white;
   font-size: 2rem;
   cursor: pointer;font-family: 'Sora', sans-serif;
   width:300px;
}

/* CREDITS MENU */

.credits,
.options{
   position: absolute;
   left:0;
   top:0;
   width:100%;
   height:100%;
   background: rgba(0,0,0,.5);
   display: none;
}

.credits section,
.options section{
   position: absolute;
   left:50%;
   top:50%;
   transition: all .8s;
   
   border:2px solid saddlebrown;
   background: seashell;
   padding:2em 1em;
   border-radius: .5em;
   font-size: 1.3rem;
}

.credits section a{
   color:slateblue;
   text-decoration: none; 
   transition: .3s;
}
.credits section a:hover{
   text-decoration: underline;
}

.credits section div{
   font-size: 2.5rem;
   margin-top: 1.5em;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.fa-times-circle{
   position: absolute;
   right:.5em;
   top:.5em;
   color:Red;
   cursor: pointer;
}

.credits section div a:nth-child(1):hover{
   color: rgb(0, 174, 255);
}
.credits section div a:nth-child(2):hover{
   color: rgb(136, 255, 0);
}
.credits section div a:nth-child(3):hover{
   color: rgb(33, 25, 141);
}
.credits section div a:nth-child(4):hover{
   color: rgb(250, 23, 23);
}

/* OPTIONS MENU */

.options h2{
   text-align: center;
   margin-bottom: .5em;
}

.options div{
   margin-bottom: 1em;
}

.options input{
   padding:.3em;
   font-size: 1.1rem;
   outline: 0;
   border:2px dashed blue;
   margin:0 .3em;
}

.options button.defbtn{
   padding:.2em .5em;
   outline: 0;
   border-radius: .2em;
   border:2px solid black;
   font-weight: 600;
   cursor: pointer;
   background: none;
   transition: .3s;
}

.options button.defbtn:hover{
   background: burlywood;
}

.options p{
   font-family: 'Sora',sans-serif;
   font-size: .8rem;
}

.options .savebtn{
   display: block;
   margin:3em auto 0 auto;
   width:50%;
   padding:.5em 0;
   font-weight: 700;
   font-size: 1.2rem;
   outline: 0;
   border: 2px solid green;
   cursor: pointer;
   background: none;
   transition: .3s;
   color:green;
   border-radius: .3em;
}

.options label{ cursor: pointer; }

.options .savebtn:hover{
   background: rgb(158, 183, 216);
}